



  <footer class="  mt-auto text-white-50">
    <p>Copyright 2021 by <a href="https://twitter.com/thrashrafz" class="text-white">@thrashrafz</a>.</p>
  </footer>
</div>


<!-- <script src="/inde.js"></script> -->
  </body>
</html>












