<%- include('header');  -%> 


    


<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-0">Cover</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">about</a>
        
         
        </nav>
      </div>
    </header>

    
        

          
        <div class="container-fluid">
        <form class="example" action="/result" method="POST">
            <input type="text" placeholder="Search.." name="search" spellcheck="true">
            <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
    

  

















<%- include('footer');  -%> 